* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
body {
    font-family: 'Karla', sans-serif;
    width: 1440px;
}


/*##########HEADER##########*/

header {
    text-align: center;
}

header nav {
    display: flex;
    justify-content: space-between;
}

header nav h1 {
    margin: 50px 0 0 70px;
    font-weight: 400;
}

header nav ul {
    display: flex;
    list-style: none;
    margin: 50px 20px 0 0;
}

header nav ul li {
    padding-right: 50px;
    font-size: 0.8rem;
    font-weight: 400;
    color: #323A45;
}

header img {
    width: 90%;
    margin: 100px 0 0 0;
    border-radius: 10px;
}

header>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lapTop {
    margin: 0 75px 0 0;
    color: #323A45;
}

header>div div {
    margin: 20px 0 50px 75px;
}

header>div div h2 {
    font-weight: 400;
    padding: 0 0 10px 0;
    color: #323A45;
    font-size: 12px;
}

header>div div p {
    text-align: start;
    color: #848484;
}


/*##########SECTION1-ARTICLE1##########*/

.section1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50vh 50vh;
    gap: 40px;
}

.article1 {
    width: 65%;
    margin: 0 auto;
}

.article1 img {
    width: 100%;
    grid-column: 1/2;
}

.article1>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.article1>div>div h2 {
    font-size: 12px;
    color: #323A45;
    font-weight: 400;
    padding: 10px 0 0 0;
}

.article1>div>div p {
    font-size: 12px;
    color: #848484;
    font-weight: 400;
    padding: 5px 0 0 0;
}

.swingLamp {
    color: #323A45;
    font-size: 14px;
}


/*##########SECTION1-ARTICLE2##########*/

.article2 {
    width: 65%;
    margin: 0 auto;
}

.article2 img {
    width: 100%;
    grid-column: 2/3;
}

.article2>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.article2>div>div h2 {
    font-size: 12px;
    color: #323A45;
    font-weight: 400;
    padding: 10px 0 0 0;
}

.article2>div>div p {
    font-size: 12px;
    color: #848484;
    font-weight: 400;
    padding: 5px 0 0 0;
}

.hajoBackpack {
    color: #323A45;
    font-size: 14px;
}


/*##########SECTION1-ARTICLE3##########*/

.article3 {
    width: 65%;
    margin: 0 auto;
}

.article3 img {
    width: 100%;
    grid-column: 3/4;
}

.article3>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.article3>div>div h2 {
    font-size: 12px;
    color: #323A45;
    font-weight: 400;
    padding: 10px 0 0 0;
}

.article3>div>div p {
    font-size: 12px;
    color: #848484;
    font-weight: 400;
    padding: 5px 0 0 0;
}

.longBoard {
    color: #323A45;
    font-size: 14px;
}


/*##########SECTION1-ARTICLE4##########*/

.article4 {
    width: 65%;
    margin: 0 auto;
}

.article4 img {
    width: 100%;
    grid-column: 1/2;
    grid-row: 2/3;
}

.article4>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.article4>div>div h2 {
    font-size: 12px;
    color: #323A45;
    font-weight: 400;
    padding: 10px 0 0 0;
}

.article4>div>div p {
    font-size: 12px;
    color: #848484;
    font-weight: 400;
    padding: 5px 0 0 0;
}

.electricKettle {
    color: #323A45;
    font-size: 14px;
}


/*##########SECTION1-ARTICLE5##########*/

.article5 {
    width: 65%;
    margin: 0 auto;
}

.article5 img {
    width: 100%;
    grid-column: 2/3;
    grid-row: 2/3;
}

.article5>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.article5>div>div h2 {
    font-size: 12px;
    color: #323A45;
    font-weight: 400;
    padding: 10px 0 0 0;
}

.article5>div>div p {
    font-size: 12px;
    color: #848484;
    font-weight: 400;
    padding: 5px 0 0 0;
}

.vintageCar {
    color: #323A45;
    font-size: 14px;
}


/*##########SECTION1-ARTICLE6##########*/

.article6 {
    width: 65%;
    margin: 0 auto;
}

.article6 img {
    width: 100%;
    grid-column: 3/4;
    grid-row: 2/3;
}

.article6>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.article6>div>div h2 {
    font-size: 12px;
    color: #323A45;
    font-weight: 400;
    padding: 10px 0 0 0;
}

.article6>div>div p {
    font-size: 12px;
    color: #848484;
    font-weight: 400;
    padding: 5px 0 0 0;
}

.logoModernism {
    color: #323A45;
    font-size: 14px;
}


/*##########SECTION2##########*/

.section2 {
    text-align: center;
}

.section2 img {
    width: 90%;
    margin: 60px 0 0 0;
    border-radius: 10px;
}

.section2>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lapTop {
    margin: 0 75px 0 0;
    color: #323A45;
}

.section2>div div {
    margin: 20px 0 50px 75px;
}

.section2>div div h2 {
    font-weight: 400;
    padding: 0 0 10px 0;
    color: #323A45;
    font-size: 12px;
}

.section2>div div p {
    text-align: start;
    color: #848484;
}


/*##########SECTION3##########*/

.section3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50vh 50vh;
    gap: 40px;
}


/*##########SECTION3##########*/

.section4 {
    text-align: center;
}

.section4 img {
    width: 90%;
    margin: 60px 0 0 0;
    border-radius: 10px;
}

.section4>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lapTop {
    margin: 0 75px 0 0;
    color: #323A45;
}

.section4>div div {
    margin: 20px 0 50px 75px;
}

.section4>div div h2 {
    font-weight: 400;
    padding: 0 0 10px 0;
    color: #323A45;
    font-size: 12px;
}

.section4>div div p {
    text-align: start;
    color: #848484;
}